!!!5
%html{class:"no-js", lang:"es"}
  %head
    %meta{charset:"utf-8"}
    %meta{name:"description", content:"Veni al mejor restaurante de la ciudad"}
    %meta{name:"viewport", content:"width=device-width, initial-scale=1"}
    %link{rel:"stylesheet", href:"/offline/style.css"}
  %body
    #message
      Parece que no tienes conexion a internet, no hay problema, aqui esta la informacion que necesitas
    .container
      %h1 Restaurant 
      %p
        %strong Direccion
        Colectora Ruta 210 y Calle 100, B1862 Guernica, Provincia de Buenos Aires 
      %p
        %strong Horario
        8pm - 2am
      %p
        %strong Telefono
        123456789
      %p
        %strong Descripcion
        Vení a disfrutar comida preparada por artistas
      #map
        %img{src:"/offline/map.png"}
        %p
          Este mapa ofrece referencias del lugar